<div class="page-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="userRegistrationForm">
      <div class="form-group">
        <input placeholder="Email" type="email" #email
               [class.is-invalid]="userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched"
               class="form-control" formControlName="email" [email]="emailValidation"/>
        <div
          *ngIf="(userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched) || userRegistrationForm.get('email').dirty">
          <small class="text-danger" *ngIf="userRegistrationForm.get('email').errors?.required">Email address is
            required</small>
          <small class="text-danger" *ngIf="userRegistrationForm.get('email').errors?.email">Email address is
            invalid</small>
        </div>
      </div>

      <div class="form-group">
        <input placeholder="Password" type="password" #password
               [class.is-invalid]="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched"
               class="form-control" formControlName="password"/>
        <div
          *ngIf="(userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched) || userRegistrationForm.get('password').dirty">
          <small *ngIf="userRegistrationForm.get('password').errors?.required" class="text-danger">Password is
            required</small>
        </div>
      </div>
      <button type="submit" [disabled]="!userRegistrationForm.valid" (click)="login()">Login</button>
    </form>
  </div>
</div>
