<!--<input type="email" placeholder="Please enter email">-->
<!--<input type="password" placeholder="Please enter password">-->
<!--<br>-->
<!--<button>Login</button>-->

login

<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width" appearance="fill">-->
<!--    <mat-label>Email</mat-label>-->
<!--    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"-->
<!--           placeholder="Ex. pat@example.com">-->
<!--    <mat-hint>Errors appear instantly!</mat-hint>-->
<!--    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--      Please enter a valid email address-->
<!--    </mat-error>-->
<!--    <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--      Email is <strong>required</strong>-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--</form>-->


​​
<form [formGroup]="userRegistrationForm">
  ​

  ​
  <div class="form-group">
    <label>Email:</label>
    <input type="email"  [class.is-invalid] = "userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched"  class="form-control" formControlName="email" [email]="emailValidation" />
    <div *ngIf="(userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched) || userRegistrationForm.get('email').dirty">
      <small class="text-danger" *ngIf="userRegistrationForm.get('email').errors?.required">Email address is required</small>
      <small class="text-danger" *ngIf="userRegistrationForm.get('email').errors?.email">Email address is invalid</small>
    </div>
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input type="password"  [class.is-invalid] = "userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched" class="form-control" formControlName="password" />
    <div
      *ngIf="(userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').touched) || userRegistrationForm.get('password').dirty">
      <small *ngIf="userRegistrationForm.get('password').errors?.required" class="text-danger">password is required</small>
    </div>
  </div>

  <button type="submit" [disabled]="!userRegistrationForm.valid" (click)="login()">Login</button>
  ​
</form>
